server: #配置server
  tomcat: #springboot乱码解决
    uri-encoding: UTF-8
  servlet:
    #context-path: /ssm
    encoding:
      force: true
      charset: utf-8
      enabled: true
  port: 8080
spring:
  mvc:
    throw-exception-if-no-handler-found: true
  #main:
   # web-application-type: none

  servlet:
    multipart:
      max-file-size: 10MB #文件最大上传大小
      max-request-size: 30MB #文件一次最大上传大小
  datasource: #mysql数据库连接配置
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ms_blog?useUnicode=true&characterEncoding=UTF-8&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: root
    initialization-mode: always
  redis:
    # Redis服务器地址
    host: localhost
    # Redis服务器连接端口
    port: 6379
    #Redis服务器连接密码（默认为空）
    #password:
    lettuce:
      pool:
        # 连接池最大连接数（使用负值表示没有限制）
        max-active: 1024
        # 连接池最大阻塞等待时间（使用负值表示没有限制）10秒
        max-wait: PT10S
        # 连接池中的最大空闲连接
        max-idle: 200
        # 连接池中的最小空闲连接
        min-idle: 0
    # 连接超时时间（10秒）
    timeout: PT10S

# 正式环境取消logging配置，默认加载resources文件下logback-spring.xml
logging:
  config: classpath:logback-spring.xml

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

